
* {
    letter-spacing: 1px;
    font-weight: 100;
}

.quote {
    background: rgba(177, 177, 177, 0.459);
    color: #000;
    font-weight: 1000;
    padding: 10px;
    
}

header h1 {
    text-align: center;
    font-size: 45px;
    padding: 55px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000;
}


body {
    background: white;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.box-1 {    
    padding: 70px 120px;
    font-size: 27px;
    text-align: left;
    max-width: 740px;
    line-height: 1.5;
}

.box-2 {    
    padding: 0 300px;
    font-size: 27px;
    text-align: center;
}

.pages1 ul li {
    
    display: inline-block;
    padding: 40px 20px;
}

.pages1 ul li a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin: 20px;
    padding: 5px;
    border-style: none;
    
}

.pages1 ul li:first-child a {
    color: rgb(0, 182, 228);
}

.pages2 ul li {
    
    display: inline-block;
    padding: 40px 20px;
}

.pages2 ul li a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin: 20px;
    padding: 5px;
    border-style: none;
}

.pages2 ul li:nth-child(2) a {
    color: rgb(0, 182, 228);
}

p a {
    text-decoration: none;
    border-style: none;
}

p a:active{
    color: rgb(0, 189, 85);
}

p a:visited{
	color: rgb(0, 189, 85);
}

ul {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

